

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    padding-top: 50px;
}



img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 221px;
    width: 320px;
    transition: all 1s; 
}

.card:hover img {   
    transform: scale(1.2);

}


.card {
    width: 320px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    justify-content: space-between;
    margin: auto;
    
}

.content {
    padding: 16px;
    
}

.content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;
    transform: translate(-400px);
    transition: all 1s;

}

.content p {
    font-size: 14px;
    font-weight: 100;
    color: #757575;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(-400px);
    transition: all 1s;

}

.content:hover h2 {
    transform: translate(0);
}

.content:hover p {
    transform: translate(0);
}

.fa-solid {
    color: #ffd600;

}
a {
    text-decoration: none;
    color: aliceblue;
}


