* {
    
    box-sizing: border-box;
}

body {
    background-color: #f4f7fa;
    color: #464646;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 50px;
    
}

.header {
    padding-left: 193px;
    text-decoration: none;

}
.course-description {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 40px;
    width: 1500px;
    padding-top: 50px;
    margin: auto;
    
}

.course-description h3 {
    font-weight: 500;
    font-size: 1.75rem;
}

.course-description a {
    text-decoration: none;
  color: #007bff;
}

.course-description a:hover {
    color: #6f42c1;
    text-decoration-line: underline
  }
.title-div-info {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.footer {
    display: flex;
    box-sizing: border-box;
    background-color: #30598c;
    padding-top: 48px;
    font-size: 14px;
    color: aliceblue;
    font-weight: 400;
    padding-bottom: 48px;
    line-height: 2.5;
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .footer-item {
    flex-basis: 25%;
  }
  
  .footer-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
  }
  .footer ul {
    list-style: none;
  }
.footer a {
    text-decoration: none;
    color: aliceblue;
  }
.footer a:hover {
    color: gray;
    text-decoration-line: underline
  }
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}