body {
      font-family: 'Roboto', sans-serif;
      

  }
  .footer {
    display: flex;
    box-sizing: border-box;
    background-color: #30598c;
    padding-top: 48px;
    font-size: 14px;
    color: aliceblue;
    font-weight: 400;
    padding-bottom: 48px;
    line-height: 2.5;
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .footer-item {
    flex-basis: 25%;
  }

  .footer-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-inline-end: 8px;
    margin-bottom: 8px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
  a:hover {
    color: gray;
    text-decoration-line: underline
  }