* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
  font-family: "Oswald";
  color: #42434b;
}

header {
  height: 88px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: auto;
}

.education h3 a {
  color: #fe7ec9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Oswald";
  line-height: 36px;
  font-size: 30px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  height: 36px;
}
.menu-item {
  color: #fff;
  margin: 0 20px;
  font-family: "Open Sans";
  font-weight: 600;
}
.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
  font-size: 16px;
}

.section1 {
  width: 1140px;
  height: 770px;
  margin: auto;
  justify-content: row;
  flex-direction: row;
  display: flex;
  padding-top: 70px;
}

.section1 .caption {
  width: 50%;
  font-family: "Oswald";
  font-weight: 700;
  padding: 70px;
  padding-top: 120px;
}

.section1 .caption h2 {
  width: 412px;
  height: 260px;
  font-size: 4.5rem;
  color: #488df4;
  font-weight: 700;
  text-align: center;
}

.section1 .caption h3 {
  width: 412px;
  height: 36px;
  line-height: 1.2;
  font-size: 1.875rem;
  text-align: center;
  padding-top: 60px;
}

.section1 .img {
  background-size: 100%;
  width: 50%;
  height: 670px;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/1928ac4fdeea5ee28a624ce0/firstdayofschoolbacktoschoolphotoideasphotographyhowtotakegreatpictures13.jpg");
  background-repeat: no-repeat;
}

.section2 {
  display: flex;
  width: 100%;
}

.section2 .container {
  background-color: #38c4c1;
  height: 290px;
  width: 25%;
}

.section2 .container2 {
  background-color: #feca02;
  height: 290px;
  width: 25%;
}

.section2 .container3 {
  background-color: #fe7ec9;
  height: 290px;
  width: 25%;
}

.section2 .container4 {
  background-color: #488df4;
  height: 290px;
  width: 25%;
}

.section2 .layout1 {
  padding-top: 70px;
  text-align: center;
  fill: currentColor;
}
.section2 .layout1 span > svg {
  width: 75px;
  height: 75px;
  color: #fff;
  font-size: 25px;
}

.section2 .layout1 h2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Oswald";
  color: #fff;
  padding-bottom: 70px;
}

.section3 {
  height: 492px;
  background-color: #f2f2f2;
}

.section3 .layout2 h1 {
  font-size: 3.75rem;
  color: #488df4;
  padding-top: 100px;
}

.section3 .layout2 p {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 2;
  width: 810px;
  margin: auto;
}

.section3 .layout2 {
  width: 1140px;
  text-align: center;
  margin: auto;
}
.section3 .layout2 .boder {
  border-color: #42434b;
}

.section4 .layout3 {
  text-align: center;
}

.section4 .layout3 .about {
  width: 855px;
  height: 185px;
  margin: auto;
  margin-top: 70px;
}

.section4 .layout3 .about h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #808080;
}

.section4 .layout3 .about h2 {
  font-size: 3rem;
  margin: 13px 0 20px;
  line-height: 1.2;
}

.section4 .layout4 {
  width: 1160px;
  height: 699px;
  margin: auto;
  border: 10px solid transparent;
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.section4 .layout4 .image1 {
  height: 662px;
  width: 460px;
  background-repeat: no-repeat;
  max-width: 50%;
  width: 100%;
  height: 100%;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/ca5339361f8853548066bb08/b7040d72be0edade2d96c5faa0198690.jpg");
}

.section4 .layout4 .readmore .readmore-item1 {
  width: 50%;
  height: 340px;
  background-color: #ebfcfc;
  text-align: end;
  padding: 5%;
}

.section4 .layout4 .readmore .readmore-item1 .logo2 svg {
  width: 32px;
  height: 32px;
  color: #fff;
  margin-top: 10px;
}
.section4 .layout4 .readmore .readmore-item1 .logo2 {
  background-color: #38c4c1;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  fill: currentColor;
  margin: 0px 0px 0px auto;
  margin-top: 10px;
}

.section4 .layout4 .readmore .readmore-item1 h4 {
  line-height: 1.2;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: #42434b;
}

.section4 .layout4 .readmore {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.section4 .layout4 .readmore .readmore-item1 p {
  font-size: 0.875rem;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  font-style: italic;
  line-height: 1.7;
  font-weight: 400;
  color: #42434b;
  height: 108px;
  width: 100%;
}
.section4 .layout4 .readmore .readmore-item1 a {
  text-decoration: none;
  color: #38c4c1;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.section4 .layout4 .readmore .readmore-item2 {
  width: 50%;
  height: 340px;
  background-color: #fff2fa;
  text-align: end;
  padding: 5%;
}

.section4 .layout4 .readmore .readmore-item2 .logo2 svg {
  width: 32px;
  height: 32px;
  color: #fff;
  margin-top: 15px;
}
.section4 .layout4 .readmore .readmore-item2 .logo2 {
  background-color: #fe7ec9;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  fill: currentColor;
  margin: 0px 0px 0px auto;
  margin-top: 10px;
}

.section4 .layout4 .readmore .readmore-item2 h4 {
  line-height: 1.2;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.section4 .layout4 .readmore .readmore-item2 p {
  font-size: 0.875rem;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  font-style: italic;
  line-height: 1.7;
  font-weight: 400;
  height: 108px;
}
.section4 .layout4 .readmore .readmore-item2 a {
  text-decoration: none;
  color: #fe7ec9;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.section4 .layout4 .readmore .readmore-item3 {
  width: 285px;
  height: 340px;
}

.section4 .layout4 .readmore .readmore-item3 > img {
  width: 100%;
  height: 100%;
}

.section4 .layout4 .readmore .readmore-item4 {
  width: 285px;
  height: 340px;
}

.section4 .layout4 .readmore .readmore-item4 > img {
  width: 100%;
  height: 100%;
}

.section5 {
  height: 615px;
  background-color: #feca02;
}

.section5 .container5 .layout5 {
  min-height: 185px;
  color: #fff;
  text-align: center;
}

.section5 .container5 .layout5 h4 {
  padding-top: 80px;
  font-size: 1.5rem;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  letter-spacing: 1px;
  font-weight: 300;
}

.section5 .container5 .layout5 h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section5 .container6 {
  height: 370px;
  width: 1170px;
  margin: auto;
  display: flex;
  padding-top: 15px;
}

.section5 .container6 .service1 .logo3 > svg {
  height: 64px;
  width: 64px;
  margin-top: 60px;
}

.section5 .container6 .service1 {
  height: 347px;
  width: 292.5px;
  background-color: #fff;
  text-align: center;
}

.section5 .container6 .service1 h5 {
  color: #fe7ec9;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 30px;
}

.section5 .container6 .service1 p {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 220px;
  margin: auto;
  padding-top: 30px;
  line-height: 1.7;
}

.section5 .container6 .service2 {
  height: 347px;
  width: 292.5px;
  background-color: #fff;
  text-align: center;
}

.section5 .container6 .service2 .logo4 > svg {
  height: 64px;
  width: 64px;
  margin-top: 60px;
}

.section5 .container6 .service2 h5 {
  color: #488df4;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 30px;
}

.section5 .container6 .service2 p {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 220px;
  margin: auto;
  padding-top: 30px;
  line-height: 1.7;
}

.section5 .container6 .service3 {
  height: 347px;
  width: 292.5px;
  background-color: #fff;
  text-align: center;
}

.section5 .container6 .service3 .logo5 > svg {
  height: 64px;
  width: 64px;
  margin-top: 60px;
}

.section5 .container6 .service3 h5 {
  color: #38c4c1;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 30px;
}

.section5 .container6 .service3 p {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 220px;
  margin: auto;
  padding-top: 30px;
  line-height: 1.7;
}

.section5 .container6 .service4 {
  height: 347px;
  width: 292.5px;
  background-color: #fff;
  text-align: center;
}

.section5 .container6 .service4 .logo5 > svg {
  height: 64px;
  width: 64px;
  margin-top: 60px;
}

.section5 .container6 .service4 h5 {
  color: #feca02;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 30px;
}

.section5 .container6 .service4 p {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 220px;
  margin: auto;
  padding-top: 30px;
  line-height: 1.7;
}

.section6 {
  height: 464px;
  background-color: #ffffff;
  text-align: center;
}

.section6 .caption {
  font-weight: 700;
  line-height: 1.1;
  padding-top: 100px;
  font-size: 2.75rem;
}

.section6 .content {
  display: flex;
  width: 1170px;
  margin: auto;
  margin-top: 40px;
  text-align: start;
}

.section6 .content .content-item {
  width: 585px;
  height: 152px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  padding: 2%;
}

.section7 {
  height: 618px;
  background-color: #fe7ec9;
}

.section7 .container {
  display: flex;
  justify-content: space-between;
  width: 1145px;
  margin: auto;
  padding-top: 75px;
}

.section7 .container .layout1 {
  background-size: 100%;
  height: 478px;
  width: 373.33px;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/ca781a3c8fdc51668d3016a3/c4f5abfbf6e1318f547819911d40eb34.jpg");
}

.section7 .container .layout2 {
  background-color: #fff;
  width: 4780px;
  width: 373.33px;
  padding: 3%;
  padding-top: 50px;
}

.section7 .container .layout2 h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.875rem;
}

.section7 .container .layout2 p {
  padding-top: 30px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}

.section7 .container .layout3 {
  background-size: 100%;
  height: 478px;
  width: 373.33px;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/45abe08f6d4a5feb8226c2d3/bf76ae7aee2f9e595a6c9f6bdefc52a2.jpg");
}

.section8 {
  height: 900px;
}

.section8 .container {
  width: 766px;
  height: 175px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.section8 .container h4 {
  margin: 15px 0 0;
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 300;
  color: #808080;
}

.section8 .container h2 {
  font-size: 2.25rem;
  margin: 13px 0 20px;
  line-height: 1.2;
}

.section8 .container1 {
  width: 1164px;
  height: 671px;
  display: flex;
  justify-content: space-between;
  width: 1145px;
  margin: auto;
  padding-top: 75px;
}

.section8 .container1 .btn {
  width: 388px;
  height: 508px;
  padding: 3%;
}

.section8 .container1 .layout {
  text-align: end;
  margin: 23px 0 0;
}

.section8 .container1 .layout h5 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  text-align: end;
}

.section8 .container1 .layout p {
  font-style: italic;
  margin: 20px 0 0;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}

.section8 .container1 .btn > img {
  margin: 23px 0 0;
  width: 100%;
  height: 100%;
}

.section8 .container1 .layout1 {
  margin: 23px 0 0;
}

.section8 .container1 .layout1 h5 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
}

.section8 .container1 .layout1 p {
  font-style: italic;
  margin: 20px 0 0;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}

.section9 {
  height: 907px;
  background-color: #38c4c1;
}

.section9 .container {
  width: 835px;
  height: 145px;
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

.section9 .container h4 {
  margin: 15px 0 0;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.5rem;
}

.section9 .container h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
}

.section9 .container2 {
  height: 600px;
  width: 1140px;
  padding-top: 100px;
  display: flex;
  margin: auto;
}

.section9 .container2 .layout1 > img {
  height: 600px;
  width: 570px;
}

.section9 .container2 .layout2 {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;
  height: 600px;
  width: 570px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section9 .container2 .layout2 h2 {
  margin: 150px 0 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
}

.section9 .container2 .layout2 p {
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  margin: 20px 0 20px;
  font-family: "Open Sans", sans-serif;
}

.section9 .container2 .layout2 a {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #fe7ec9;
  font-weight: 400;
  font-size: 1rem;
}

.section10 .container {
  height: 355px;
  display: flex;
  width: 1170px;
  text-align: center;
  margin: auto;
  padding-top: 110px;
}

.section10 .container .layout1 {
  width: 390px;
  height: 259px;
}

.section10 .container .layout1 .logo {
  width: 65px;
  height: 65px;
  background-color: #fe7ec9;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  fill: currentColor;
  margin: auto;
}

.section10 .container .layout1 .logo > svg {
  width: 41px;
  height: 41px;
  color: #fff;
  margin-top: 10px;
}

.section10 .container .layout1 h6 {
  margin: 32px 30px 25px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.2;
  font-size: 0.875rem;
}

.section10 .container .layout2 {
  width: 390px;
  height: 259px;
}

.section10 .container .layout2 .logo {
  width: 65px;
  height: 65px;
  background-color: #feca02;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  fill: currentColor;
  margin: auto;
}

.section10 .container .layout2 .logo > svg {
  width: 41px;
  height: 41px;
  color: #fff;
  margin-top: 10px;
}

.section10 .container .layout2 h6 {
  margin: 32px 30px 25px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.2;
  font-size: 0.875rem;
}

.section10 .container .layout3 {
  width: 390px;
  height: 259px;
}

.section10 .container .layout3 .logo {
  width: 65px;
  height: 65px;
  background-color: #38c4c1;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  fill: currentColor;
  margin: auto;
}

.section10 .container .layout3 .logo > svg {
  width: 41px;
  height: 41px;
  color: #fff;
  margin-top: 10px;
}

.section10 .container .layout3 h6 {
  margin: 32px 30px 25px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.2;
  font-size: 0.875rem;
}

.section11 {
  background-color: #fe7ec9;
  height: 309px;
}

.section11 .footer {
  display: flex;
  color: #fff;
  width: 1140px;
  margin: auto;
  padding-top: 100px;
}

.section11 .footer .footer-item {
  flex-basis: 35%;
}

.section11 .footer h6 {
  line-height: 1.2;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.section11 .footer p {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}

.section11 .contact {
  padding-top: 100px;
  text-align: center;
}

.section11 .contact span {
  fill: currentColor;
  color: #fff;
  margin: 0px 5px 0px;
}

.section11 .contact span > svg {
  width: 20px;
  height: 20px;
}

.section12 {
  height: 102px;
  background-color: #333333;
  color: #fff;
  font-family: "Open Sans", sans-serif;

}

.section12 .layout {
  display: flex;
  font-weight: 400;
  line-height: 1.7;
  font-size: 0.8rem;
  padding-top: 40px;
  width: 350px;
  margin: auto;
}

.section12 .layout a {
  color: #fe7ec9;
}

.section12 .layout a:hover {
  color: #808080;
  text-decoration: none;
}